/* 
==============================COLORS==================================

FORM-DESIGN BKG-COLOR: rgb(92, 30, 64), rgba(116, 21, 88, 0.938)
CARD BOX SHADOW: 0 1rem 1rem rgb(0,0,0, .2) h-offset v-offset blur color
FORM BORDER BOTTOM COLOR: rgba(223, 24, 163, 0.623)
INPUT FOCUS INVALID COLOR: rgba(126, 16, 16, 0.938)
BUTTON COLOR: rgb(92, 30, 64), rgba(116, 21, 88, 0.938)
BUTTON BOX SHADOW: 0 1rem 2rem rgb(0,0,0, .2)
 */
 

.container {
    max-width: 70rem;
    margin: 15rem auto;
}

    @media (max-width: 62.5em) {
        .container {
            max-width: 60rem;
        }
    }

    @media (max-width: 40.5em) {
        .container {
            margin: 0;
        }
    }

.form {
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
    background-size: cover;
    box-shadow: 0 1rem 1.5rem rgb(0,0,0,.2);
    clip-path: polygon(10% 0, 91% 0, 100% 10%, 100% 91%, 91% 100%, 10% 100%, 0 91%, 0 10%);

}

    @media (max-width: 50em) {
        .form {
            flex-direction: column-reverse;
        }
    }

    @media (max-width: 40.5em) {
        .form {
            clip-path: none;
            background-image: none;
        }
    }

.form-content {
    flex: 0 0 68%;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-design {
    flex: 0 0 32%; /* shrink grow width */
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

    @media (max-width: 50em) {
        .form-design {
            width: 100%;
            padding: 2rem;
        }
    }

.form-email,
.form-pass {
    position: relative;
}

.icon {
    display: inline-block;
    color: grey;
    position: absolute;
    top: 8px;
    left: 5px;
}

.fa-1x {
    font-size: 1.72rem !important;
}

.form-input {
    text-indent: 3.5rem;
    outline: none;
    height: 4rem;
    border: none;
    border-bottom: .1rem solid rgba(223, 24, 163, 0.623);
    background-color: transparent;
    animation-name: moveInLeft;
    animation-duration: 2s;
    /* margin-left: -2.3rem; */
    color: grey;
}

.form-input::-webkit-input-placeholder {
    font-size: 1.5rem;
    color: rgb(163, 160, 160);
}

/* .form-input[type] {
    color: grey;
} */

.form-input:hover::-webkit-input-placeholder,
.form-input:hover,
.form-input:focus,
.form-email:focus-within .icon,
.form-pass:focus-within .icon,
.icon-s:hover,
.icon:hover {
    color: white;
}

.form-ep:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form-input:focus {
    border-bottom: .1rem solid yellow;
    /* background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.5)); */
}

.form-input:focus:invalid {
    border-bottom: .1rem solid rgba(126, 16, 16, 0.938);
}

.btn-con {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 1.2rem;
    color: white;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 10rem;
    padding: 1.3rem 2.3rem;
    background-image: linear-gradient(rgb(92, 30, 64), rgba(116, 21, 88, 0.938));
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgb(0,0,0, .2);
    transition: all .2s;
    animation-name: moveInTop;
    animation-duration: 2s;
}

.icon-s {
    color: grey;
}

.btn:hover {
    transform: translateY(-3px);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    95% {
        opacity: .7;
        transform: translateX(85px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(85px);
    }

    95% {
        opacity: .8;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}